@font-face {
    font-family: 'cheddarJack';
    src: url('../cheddarJack.ttf') format('truetype');
}

body
{
    background-color: #fefcfe;
    margin: 0;
    padding: 0;
}

#header{ 
	height:20px; 
	background:#5695c7; 
}

h1{
  text-align: center;
  font-family: Arial;
  color:#5695c7;
}

h2{
	text-align: center;
	font-family: Arial;
}

h3{
	text-align: center;
	font-family: Arial;
}

nav
{
    display: inline-block;
    width: 100%;
    background:#cccccc; 
}

nav ul{
	display: inline-block;
	list-style-type: none;
	margin: 5px;
	width:500px;
}

nav li
{
    display: inline-block;
    padding: 5px;
}

nav a
{
    font-size: 15px;
    font-family: Arial;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #5695c7;
    border-bottom: 3px solid #5695c7;
    width: 100px;
}

article{
	margin-bottom: 100px;
}


form.rechercher{
	display: inline-block;
	float:right;
	height:30px;
	margin: 5px;
	line-height: 30px;
}

form.inscription{
	width: 50%;
	position: relative;
	left: 25%;
}

form.modifier{
	width: 50%;
	position: relative;
	left: 25%;
	/*height:300px;*/
}

form.connexion{
	width: 50%;
	position: absolute;
	left: 25%;
}

label{
	display: inline-block;
	width: 100%;
	font-family: Arial;
	padding-top: 5px;
	padding-bottom: 5px;
}

input.inputInscription{
	width: 70%;
	float: right;
}

select.selectedInscription{
	width: 70%;
	float: right;
}

input.inputConnexion{
	width: 40%;
	float: right;
}

.centrage{
	text-align: center;
}

.buttonInscription{
	margin:20px;
	width: 150px;
	height: 30px;
}

.buttonConnexion{
	margin:20px;
	width: 300px;
	height: 300px;
}

textarea{
	width: 70%;
	height: 100px;
	float:right;
}

table{
	font-family: Arial;
	border: 1px solid black;
	border-collapse: collapse;
	width: 70%;
	position: relative;
	left: 15%;
}

th, td{
	border: 1px solid black;
	text-align: center;
}

a{
	text-decoration: none;
}
